.settings {
  background-color: #ffffff3a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 30vw;
justify-content: center;
margin-top: 55px;
position: fixed;
 
}

.settings h2 {


  font-size: 34px;
  margin-bottom: 30px;
}

.settings-list {
  list-style-type: none;
  padding: 0;
}

.settings-list span{
  margin-bottom: 10px;
}

.settings-list li {
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
}

.settings-list li:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.settings-list li span {
  margin-left: 10px;
  font-weight: bold;
}

.settings-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none; /* Remove list-style-type */
}

.settings-list ul li {
  margin-bottom: 8px;
}

.settings-list ul li:last-child {
  margin-bottom: 0;
}

.settings::-webkit-scrollbar{
  width: 2px;
}